.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.Form__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}
.Form__img img {
  width: 290px;
  height: 180px;
  border-radius: 3px;
}

#Form {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  gap: 0.5rem;
  margin: 0;
}

#Form > label {
  font-size: 1.5rem;
  font-weight: 600;
}

#Form > input {
  border: 3px solid var(--clr-accent);
  padding: 10px;
  outline: none;
}
#Form > textarea {
  border: 3px solid var(--clr-accent);
  padding: 10px;
  outline: none;
}
#Form > ::placeholder {
  color: var(--clr-dark);
}
.btn {
  border: none;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .Container {
    flex-direction: row;
  }
  .Form__img img {
    height: 550px;
    width: 600px;
  }
  #Form {
    margin-left: 30px;
  }
}
