.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.Form__contact {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  width: 100%;
  margin-bottom: 20px;
}
.Contact__tittle {
  text-transform: capitalize;
  margin-bottom: 30px;
}
.Contact__address {
  color: var(--clr-dark);
}
.head {
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 30px;
  font-weight: 500;
}
.subhead {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: 400;
}
#Form {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  gap: 0.5rem;
  margin: 0;
}

#Form > label {
  font-size: 1.5rem;
  font-weight: 600;
}

#Form > input {
  border: 3px solid var(--clr-accent);
  padding: 10px;
  outline: none;
}
#Form > textarea {
  border: 3px solid var(--clr-accent);
  padding: 10px;
  outline: none;
}
#Form > ::placeholder {
  color: var(--clr-dark);
}
.btn {
  border: none;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .Container {
    flex-direction: row;
  }
  #Form {
    margin-left: 30px;
  }
}
