#Skills {
  color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.Skills__tittle {
  position: absolute;
  top: 20px;
}
.Skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
}

.Skill {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  border-radius: 20px;
  text-transform: capitalize;
  color: var(--clr-light);
  background-color: var(--clr-dark);
}
.Skill:hover {
  background-color: var(--clr-accent);
  cursor: pointer;
}
.Skill h2 {
  transition: 0.3s ease-in-out;
  font-size: 2.5rem;
}
.Skill h2:hover {
  transform: scale(1.2);
}
.btn {
  background-color: var(--clr-dark);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  color: var(--clr-light);
  cursor: pointer;
  transition: 0.5s;
  font-weight: 500;
}

.btn:hover {
  background-color: var(--clr-accent);
}
.button {
  margin-top: 50px;
}
